<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>To-Do List App</h1>
        <a href="{{ url_for('view_tasks') }}" class="btn">View Tasks</a>
        <a href="{{ url_for('show_recent_added') }}" class="btn">Recent Added Task</a>
        <a href="{{ url_for('show_recent_deleted') }}" class="btn">Recent Deleted Task</a>
    </div>
</body>
</html>
